:root { 
    --sort: #1B1C1D; 
    --hvid: #FAFAF9;
    --rød: #ff2300;
    --blå: #2838D2;
    overscroll-behavior: none;
    overflow-x: hidden;
} 

html {
    font-size: 100%;
    background-color: var(--hvid);
}

body {
    margin: 0;
}

.menu { grid-area: menu;}
.main { grid-area: main;}
.tekstboks { grid-area: main;}
.billedeboks { grid-area: main;}
.footer { grid-area: footer;}

.grid-container {
        display: grid;
        grid-template-areas: 
        'menu menu menu'
        'main main main'
        'tekstboks tekstboks tekstboks'
        'billedeboks billedeboks billedeboks'
        'footer footer footer';
        grid-template-columns: 3fr 3fr 3fr;
        grid-template-rows: 100px auto 400px 500px 400px;
        height: 100vh;
        grid-gap: 10px;  
  }

.main {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    margin: 0 30px;
    margin-bottom: 60px;
}

.titel {
    flex: 1;
    z-index: 1;
}

.blob-outer-container {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
    inset: 0;
    margin: auto;
}

.blob-inner-container {
    border-radius: 99999px;
    position: absolute;
    inset: 0;
    top: 40px;
    right: 0;
    height: 100vh;
    width: 100vw;
    min-width: 1000px;
    overflow: hidden;
    transform: scale(0.8) translateX(50%);
    filter: blur(140px);
}

.blob {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 5px;
    top: 40px;
    right: 0;
    background: conic-gradient(from 0deg, #2838D2, #ff2300, #2838D2, #ff2300, #2838D2);
    animation: movingBlob 9s linear infinite;
}

@keyframes movingBlob {
    0% {
        transform: rotate(0deg) scale(2) translate(0, 0);
    }
    25% {
        transform: rotate(90deg) scale(2.1) translate(10px, -10px);
    }
    50% {
        transform: rotate(180deg) scale(1.9) translate(-10px, 10px);
    }
    75% {
        transform: rotate(270deg) scale(2.05) translate(10px, 10px);
    }
    100% {
        transform: rotate(360deg) scale(2) translate(0, 0);
    }
}

/* =============== NAVIGATION BAR =============== */

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(252, 252, 250, 0); /* Lav opacitet */
    z-index: 1000;
    backdrop-filter: blur(6px);
    padding: 10px 20px 0px 20px;
}

.menu ul {
    margin: 0;
    padding-left: 580px;
    display: flex;
    justify-content: center;
}

.menu li {
    font-family: aileron, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    list-style: none;
    letter-spacing: 1px;
}

.menu li a {
    display: block;
    display: grid;
    color: var(--sort);
    text-align: center;
    padding: 18px 40px;
    text-decoration-line: underline;
    font-size: 16px;
}

.menu li a:hover {
    font-family: "swear-display", serif;
    font-weight: 600;
    font-style: normal;
    text-transform: lowercase;
    font-size: 21px;
    color: var(--sort);
    text-decoration-line: none;
    transition: font-family 1.2s ease;
}

.hover-text:hover {
    font-size: 10px;
}

.logo img {
    height: 80px;
    float: left;
    padding-left: 15px;
}

/* =============== MAIN - HOMEPAGE =============== */

h1 {
    font-family: aileron, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 140px;
}

h2 {
    font-size: 140px;
    font-family: "swear-display", serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2 {
    margin: 0;
    padding: 0px;
}

.changing-text:after {
    content: "IDEER";
    animation: changeText 6s infinite;
}

@keyframes changeText {
    0% { content: "IDEER"; }
    20.1% { content: "DRØMME"; }
    40.1% { content: "VISIONER"; }
    60.1% { content: "DESIGNS"; }
    81.1% { content: "MÅL"; }
}

.billedeboks {
    grid-area: billedeboks;
    width: 100%;
    display: block;
    color: var(--hvid);
    font-family: aileron, sans-serif;
    font-size: 24px;
    z-index: 1;
    padding-top: 5%;
    padding-bottom: 5%;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    animation: slide 11s infinite;
}

.carousel img {
    width: calc((100% / 3) - 20px); /* 3 billeder ad gangen, minus mellemrum */
    flex-shrink: 0;
    margin: 0 10px; /* mellemrum mellem billederne */
    border-radius: 5px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    16.67% {
        transform: translateX(0);
    }
    33.34% {
        transform: translateX(calc(-100% / 3));
    }
    50.01% {
        transform: translateX(calc(-100% / 3));
    }
    66.68% {
        transform: translateX(calc(-200% / 3));
    }
    83.35% {
        transform: translateX(calc(-200% / 3));
    }
    100% {
        transform: translateX(calc(-300% / 3));
    }
}

.tekstboks {
    grid-area: tekstboks;
    background-color: var(--sort);
    width: 100%;
    height: 100%;
    z-index: 3;
}

.intro {
    float: right;
    padding-right: 10%;
    padding-top: 3%;
    width: 35%;
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 160%;
    line-height: 1.5;
    color: var(--hvid);
}

.velkommen {
    float: left;
    width: 22%;
    padding: 3%;
    animation: rotate 12s linear infinite;
}

@keyframes rotate {
    from {transform: rotate(0deg)}
  
    to {transform: rotate(360deg) }
  }


.bluebutton {
    background-color: var(--blå);
    color: var(--hvid);
    border: 2px solid var(--blå);
    border-radius: 25px;
    padding: 10px 35px;
    text-align: center;
    font-size: 15px;
    font-family: aileron, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: block;
    margin: auto;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .bluebutton:hover {
    background-color: var(--rød);
    color: var(--hvid);
    border: 2px solid var(--rød);
  }
  

/* =============== MEDIA QUERY =============== 

  @media only screen and (min-width: 550px) {
    display: grid;
    grid-template-areas: 
    'menu menu'
    'main main'
    'footer footer';
    grid-gap: 10px;
    padding: 10px; 
    }
}
*/

/* =============== FOOTER =============== */

.footer {
    z-index: 1;
    background-color: var(--sort);
    margin-top: auto;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.footerkontakt {
    color: var(--hvid);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footerkontakt h5, .footerkontakt p {
    margin: 0 15px; /* Juster denne værdi efter behov */
    padding: 0;
}

h5 {
    font-family: aileron, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

p {
    font-family: source-sans-pro, sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 25px;
}

h5, p {
    display: block;
    text-align: left;
}

.footerkontakt ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footerbanner {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    color: var(--hvid);
    font-size: 100px;
    font-family: "swear-display", serif;
    font-weight: 500;
    font-style: normal;
}

.footerbanner span {
    display: inline-block;
    animation: footerbanner 50s linear infinite;
}

@keyframes footerbanner {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
}


/* =============== FOOTER LINK DECORATION =============== */

.socialtpunkter a {
    color: var(--hvid);
    text-decoration: none; 
}

.socialtpunkter a:hover {
    color: var(--rød);
    text-decoration: underline;
}


.socialtpunkter a:active {
    color: var(--blå);
  }


.menupunkter a {
    color: var(--hvid);
    text-decoration: none; 
}

.menupunkter a:hover {
    color: var(--rød);
    text-decoration: underline;
}


.menupunkter a:active {
    color: var(--blå);
  }