
/* =============== GENERAL =============== */

:root { 
    --black: #1B1C1D; 
    --white: #FAFAF9;
    --red: #ff2300;
    --blue: #2838D2;
    overscroll-behavior: none;
    overflow-x: hidden;
} 

html {
    background-color: var(--white);
}

body {
    font-size: 100%;
    padding-top: 9%;
    margin: 0;
}

/* Scrollbar - Virker i Chrome - Edge - Firefox */
  ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 8px;
}


h1 {
    font-family: aileron, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 800%;
    color: var(--sort);
    padding-left: 7%;
    margin-bottom: auto;
    margin: 0;
    float: left;
}

h2 {
    font-family: "swear-display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 800%;
}

h3 {
    font-family: "swear-display", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 400%;
  }
  
h4 {
    font-family: "swear-display", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 250%;
  }

h5 {
    font-family: aileron, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

h6 {
    font-family: source-sans-pro, sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 29px;
    font-size: 110%;
}

p {
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 160%;
  }


  @media (max-width: 480px) {

    h1 {
        padding-left: 16%;
        font-size: 300%;
    }
    h3 {
        font-size: 150%;
    }

    p {
        font-size: 90%;
    }

    h4 {
        font-size: 120%;
    }

    h5 {
        font-size: 80%;
    }

}

/* =============== NAVIGATION BAR =============== */

.navbar {
    grid-area: menu;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    background: rgba(252, 252, 250, 0);
    z-index: 1000;
    backdrop-filter: blur(6px);
    padding: 20px 20px 0px 20px;
}

.navbar__logo img {
    height: 70px;
    width: 70px;
    padding-left: 15%;
}

.navbar__links {
    display: flex;
    list-style-type: none;
}

.navbar__menu {
    display: flex;
    margin-left: auto;
    padding-right: 70px;
}

.navbar__menu-item {
    font-family: aileron, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-transform: uppercase;
    list-style: none;
    letter-spacing: 1px;
    padding-left: 35px;
    text-decoration-line: underline;
}

.navbar__link {
    color: var(--black);
    text-decoration-line: none;
    margin-left: 20px;
}

.navbar__menu-item:hover {
    font-family: "swear-display", serif;
    font-weight: 600;
    font-style: normal;
    text-transform: lowercase;
    font-size: 18px;
    text-decoration-line: none;
    transition: font-family 1.2s ease;
}

/* Responsiv - mobil */
@media (max-width: 480px) {
    
    .navbar {
        height: 100px;
    }
    
    .navbar__logo img {
        display: flex;
        margin-bottom: 20px;
    }

    .navbar__menu {
        flex-direction: column; 
        text-align: right;
        line-height: 1.5;
    }
    
}

/* =============== HOMEPAGE =============== */

.menu { grid-area: menu;}
.titel { grid-area: main;}
.tekstboks { grid-area: tekstboks;}
.billedeboks { grid-area: billedeboks;}
.footer { grid-area: footer;}

.grid-container {
    display: grid;
    grid-template-areas: 
    'menu menu menu'
    'main main main'
    'tekstboks tekstboks tekstboks'
    'billedeboks billedeboks billedeboks'
    'footer footer footer';
    grid-template-columns: 4fr 3fr 3fr;
    grid-template-rows: 100px 580px 400px 550px 400px;
    height: 100vh;
    grid-gap: 10px;  
}

.main {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    margin: 0 5%;
}

.main__title-text {
    flex: 1;
    z-index: 1;
    margin: 0;
    padding: 0px;
  }

.main__title-changing-text {
    flex: 1;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.main__title-changing-text:after {
    content: "IDEER";
    animation: changeText 6s infinite;
}

@keyframes changeText {
    0% { content: "IDEER"; }
    20.1% { content: "DRØMME"; }
    40.1% { content: "VISIONER"; }
    60.1% { content: "DESIGNS"; }
    81.1% { content: "MÅL"; }
}

/* Gradient baggrund */
.main__blob-outercontainer {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
    inset: 0;
    margin: auto;
}

.main__blob-innercontainer {
    border-radius: 99999px;
    position: absolute;
    inset: 0;
    top: 40px;
    right: 0;
    height: 100vh;
    width: 100vw;
    min-width: 1000px;
    overflow: hidden;
    transform: scale(0.8) translateX(50%);
    filter: blur(140px);
}

.main__blob {
    position: absolute;
    width: 100vw;
    height: 100vh;
    inset: 5px;
    top: 40px;
    right: 0;
    background: conic-gradient(from 0deg, #2838D2, #ff2300, #2838D2, #ff2300, #2838D2);
    animation: movingBlob 9s linear infinite;
}

@keyframes movingBlob {
    0% {
        transform: rotate(0deg) scale(2) translate(0, 0);
    }
    25% {
        transform: rotate(90deg) scale(2.1) translate(10px, -10px);
    }
    50% {
        transform: rotate(180deg) scale(1.9) translate(-10px, 10px);
    }
    75% {
        transform: rotate(270deg) scale(2.05) translate(10px, 10px);
    }
    100% {
        transform: rotate(360deg) scale(2) translate(0, 0);
    }
}

/* Velkommen boks */
.tekstboks {
    grid-area: tekstboks;
    background-color: var(--black);
    width: 100%;
    height: 100%;
    z-index: 3;
}

.tekstboks__intro {
    float: right;
    padding-right: 10%;
    padding-top: 3%;
    width: 35%;
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 160%;
    line-height: 1.5;
    color: var(--white);
}

.tekstboks__image {
    float: left;
    width: 22%;
    padding: 3%;
    animation: rotate 12s linear infinite;
}

@keyframes rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg) }
  }

/* Billede carousel */
.billedeboks {
    grid-area: billedeboks;
    width: 100%;
    display: block;
    color: var(--white);
    font-family: aileron, sans-serif;
    font-size: 24px;
    z-index: 1;
    padding-top: 5%;
    padding-bottom: 9%;
}

.billedeboks__carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 1.5%;
}

.billedeboks__carousel {
    display: flex;
    animation: slide 11s infinite;
}

.billedeboks__carousel img {
    width: calc((100% / 3) - 20px); /* 3 billeder ad gangen, minus mellemrum */
    flex-shrink: 0;
    margin: 0 10px; /* mellemrum mellem billederne */
    border-radius: 5px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    16.67% {
        transform: translateX(0);
    }
    33.34% {
        transform: translateX(calc(-100% / 3));
    }
    50.01% {
        transform: translateX(calc(-100% / 3));
    }
    66.68% {
        transform: translateX(calc(-200% / 3));
    }
    83.35% {
        transform: translateX(calc(-200% / 3));
    }
    100% {
        transform: translateX(calc(-300% / 3));
    }
}


/* Responsiv - mobil */

@media screen and (max-width: 480px) {
    .grid-container {
        display: grid;
        grid-template-areas: 
        'menu menu'
        'main main'
        'tekstboks tekstboks'
        'billedeboks billedeboks'
        'footer footer';
        grid-template-columns: 5fr 3fr;
        grid-template-rows: 100px 300px 300px 480px 290px;
        height: 100vh;
        grid-gap: 10px;  
    }

    .main {
        padding-top: 25%;
    }

    .main__blob-innercontainer {
        transform: scale(0.5) translateX(50%); 
        min-width: 600px; 
    }
    
    .main__blob {
        width: 200vw;
        height: 200vh;
        filter: blur(80px);
    }

    .main__title-text {
        font-size: 400%;
    }

    .main__title-changing-text {
        font-size: 400%;
    }

    .tekstboks__intro {
        font-size: 100%;
        width: 35%;
    }

    .tekstboks__image {
        width: 40%;
        padding-top: 10%;
    }

    .billedeboks__carousel-container {
        width: 100%;
    }

    .billedeboks__carousel img {
        width: 95%;
    }

    .billedeboks__carousel {
        display: flex;
        animation: slide 11s infinite;
    }

    @keyframes slide {
        0% {
            transform: translateX(0);
        }
        20% {
            transform: translateX(0);
        }
        40% {
            transform: translateX(-100%);
        }
        60% {
            transform: translateX(-200%);
        }
        80% {
            transform: translateX(-300%);
        }
        100% {
            transform: translateX(-400%);
        }
}
}

/* =============== ABOUT ME PAGE =============== */

/* Introtekst og portrætbillede */
.about__intro-text {
    float: left;
    width: 35%;
    line-height: 1.5;
    color: var(--black);
    padding-left: 7.5%;
    padding-top: 5%; 
    }
      
.about__portraits img {
    width: 35%;
    transform: rotate(7deg);
    float: right;
    padding: 7% 7% 2% 7%;
    display: none; 
    cursor: pointer;
    }
      
.about__portraits img.active {
    width: 35%;
    transform: rotate(7deg);
    float: right;
    padding: 7% 7% 2% 7%;
    display: block; 
    }
    
.about__tapeportrait {
    width: 400px;
    position: absolute; 
    top: 16%; 
    right: 9%; 
    z-index: 1;
    transform: rotate(26deg);
    }


/* Pil med tekst */
.about__arrow-text1 {
    font-family: "swear-display", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 250%;
    float: left;
    padding-left: 32%;
    padding-top: 8%;
    margin: 0; 
    }

.about__arrow-text2 {
    font-family: "swear-display", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 250%;
    padding-right: 52%;
    padding-bottom: 5%;
    float: right;
    margin: 0; 
    }

.about__arrow img {
    width: 8%;
    margin: 0;
    float: right;
    padding-top: 2%; 
    }


/* Tre hurtige facts */
.about__trehurtige { 
    float: left;
    }

.about__trehurtige-text {
    padding: 7% 0% 3% 16%;
    line-height: 1.5; 
    margin: 0; 
    }

.about__trehurtige-title {
    font-family: "swear-display", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 400%;
    color: var(--black);
    padding: 7% 0% 0% 16%;
    margin: 0; 
    }
    
.about__flip-cards-table {
    width: 100%;
    margin-left:6.5%; 
    margin-bottom: 5%; 
    }    

td {
    height: 150px;
    width: 300px; 
    }
  
.flip-container__back-text{
    background-color: var(--white);
    width: 300px;
    height: 300px;
    border: 5px solid var(--blue);
    box-sizing: border-box; 
    padding: 6.5%;
    padding-top: 11%;
    text-align: center;
    color: var(--blue);
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 45%;
    line-height: 2; 
    }

.about__flip-cards {
    perspective: 1000px; 
    }

.about__flip-cards.hover .about__flip-cards-flipper {
    transform: rotateY(180deg); 
    }

.about__flip-cards-flipper {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 300px;
    height: 300px; 
    }

.flip-container__front,
.flip-container__back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0; 
    }

.flip-container__front {
    z-index: 2;
    transform: rotateY(0deg); 
    cursor: pointer;
    }

.flip-container__back {
    transform: rotateY(180deg); 
    }


/* Video og beskrivelse fritid */
.about__hobby-title {
    color: var(--black);
    padding-right: 7%;
    padding-top: 7%;
    margin-bottom: auto;
    margin: 0;
    float: right;
    text-align: right; 
    }

.about__hobby-text {
    float: right;
    width: 36%;
    line-height: 1.5;
    color: var(--black);
    padding-right: 7.5%;
    padding-top: 5%;
    }  

.about__video-container {
    float: left;
    padding-left: 7%;
    padding-bottom: 5%;
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;   
    }

.about__video {
    width: 100%;
    height: auto;
    display: block; 
    }

/* Inspiration og rejsegalleri */
.about__inspiration-title {
    padding-top: 7%;
    }

.about__inspiration-text {
    float: left;
    width: 36%;
    line-height: 1.5;
    color: var(--black);
    padding-left: 7.5%;
    padding-top: 5%;
    }

.about_rejsebilleder {
    float: right;
    }

.about__rejsebilleder-list {
    display: flex;
    gap: 100px;
    padding: 80px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 500px;
    }

    /* skjuler horisontal scroll bar*/
    .about__rejsebilleder-list::-webkit-scrollbar {
        display: none;
      }

.about__rejsebilleder-item {
    flex-shrink: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--white);
    max-width: 1200px;
    scroll-snap-align: center;
    box-sizing: border-box;
    }

.about__rejsebilleder-content { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    }

.about__swipe-icon {
    float: right;
    padding-left: 7%;
    padding-bottom: 5%;
    position: relative;
    width: 6%;
    }

    
.about__totop-button {
    position: absolute;
    top: 505%;
    left: 50%;
    transform: translateX(-50%);
    margin-right: 10px;     
    text-decoration: none;
    padding: 12px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    font-size: 15px;
    font-family: aileron, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--white);
    background: var(--blue);
    border-radius: 100px;
    white-space: nowrap;
  }

  /* "flydende" scroll */
  html,
  body {
    scroll-behavior: smooth;
  }


  /* Responsiv - mobil */

  @media screen and (max-width: 480px) {

    .about__title {
        padding-top: 20%;
    }

    .about__tapeportrait {
        width: 150px;
        padding-top: 28%;
        transform: rotate(20deg);
    }

    .about__arrow-text1 {
        font-size: 100%;
    }

    .about__arrow-text2 {
        font-size: 100%;
    }

    .about__hobby-text {
        width: 50%;
       }

    .about__video {
        width: 50%;
        padding-top: 10%;
        padding-left: 10%;
    }

    .about__trehurtige-title {
        font-size: 200%;
    }

    .flip-container__back-text {
    width: 120px;
    height: 120px;
    }

    .about__flip-cards-flipper {
        width: 120px;
        height: 120px;
    }

    .flip-container__front-image img {
        width: 120px;
        height: 120px;
    }

    .flip-container__back-text {
        font-size: 17%;
    }

    .about__rejsebilleder-content {
        display: block;
    }

    .about__rejsebilleder-list {
        padding: 0; 
    }
    
   .about__rejsebilleder-content img {
    width: 40%;
    padding-left: 45%;
    padding-top: 0%;
   }

   .about__rejsebilleder-item {
    height: 60vh;
   }

   .about__inspiration-title {
    padding-top: 15%;
   }

   .about__inspiration-text {
    width: 50%;
    padding-bottom: 0%;
   }

    .about__swipe-icon {
    float: none; 
    padding-left: 0;
    padding-top: 130%;
    position: relative;
    }

    .about__totop-button {
        position: absolute;
        top: 335%;
        width: 20%;
        font-size: 9px;
    }
}


/* =============== CONTACT PAGE =============== */

/* Kontaktbeskrivelser */
.contact__subtitel {
    color: var(--black);
    padding-left: 8%;
    padding-top: 0;
    margin-bottom: auto;
  }

  .contact__title2 {
    font-family: aileron, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 800%;
    float: left;
    color: var(--black);
    padding-left: 25%;
    margin: 0;
    padding-bottom: 4%;
  }

  .contact__introtext {
    float: right;
    width: 35%;
    font-size: 160%;
    line-height: 1.2;
    color: var(--black);
    padding-right: 6%;
  }

  .contact__info-description {
    padding-top: 40%;
    padding-left: 5%;
    width: 30%;
  }

  .contact__info-text {
    font-family: aileron, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 160%;
    color: var(--black);
    padding-left: 7%;
    margin-bottom: 1.5%;
  }

  .contact__logos {
    padding: 12% 0% 0% 14%;
  }

/* Billede Odense med adresse */
.contact__image-odense {
    float: right;
    position: relative;
    padding: 1% 7% 0% 1%;
    z-index: 2;
  }

  .contact__image-odense img {
    z-index: 2;
  }

.contact__image-odense--banner {
    position: absolute;
    z-index: 1;
    padding: 0% 0% 5% 50%;
}

  .contact__image-odense--banner img {
    width: 110%;
    animation: rotate 12s linear infinite;
  }

  @keyframes rotate {
    0% {transform: rotate(0deg)}

    100% {transform: rotate(360deg) }
  }

  .contact__adress-number {
    font-family: aileron, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 160%;
    color: var(--black);
    padding-top: 31%;
    text-align: right;
  }

  .contact__adress-city {
    font-family: aileron, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 160%;
    color: var(--black);
    padding-top: 0%;
    text-align: right;
  }
  

 /* Responsiv - mobil */

  @media screen and (max-width: 480px) {
    .contact__subtitel {
        padding-top: 15%;
    }

    .contact__title2 {
        font-size: 300%;
    }

    .contact__introtext {
        font-size: 110%;
    }

    .contact__info-text {
        font-size: 110%;
    }

    .contact__adress-number, .contact__adress-city {
        font-size: 110%;
        padding-right: 3%;
    }

    .contact__image-odense img {
        width: 60%;
        padding-left: 45%;
    }

    .contact__image-odense--banner {
        width: 50%;
        padding-left: 20%;
    }

    .contact__logos img {
        width: 20%;
        padding-bottom: 40%;
    }
  }

/* =============== PROJECT PAGE =============== */
  
/* Animeret instagram knap */
  .projects__instagram--animation {
    display: block;
    position: relative;
    width: 250px;
    height: 190px;
    animation: rotate 9s linear infinite;
  }
  
  @keyframes rotate {
    from {transform: rotate(0deg)}
  
    to {transform: rotate(360deg) }
  }

/* Projekter grid */
.projects__row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
  }
  
  /*de 3 desktop kolonner*/
  .projects__column {
    flex: 33%;
    max-width: 33%;
    padding: 0;
  }
  
  .projects__column img {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    border-radius: 4px;
    display: block;
    overflow: hidden;
    transition: transform .2s;
    filter: grayscale(100%); /* Sort/hvid filter */
  }
  
  .projects__column img:hover {
    transform: scale(1.03);
    filter: grayscale(0%); /* Fjern sort/hvid filter ved hover */
    cursor: pointer;
  }

/* Høj billedekasse */
  .projects__boxtall {
    width: 350px;
    height: 500px;
    border-radius: 5px;
    position: relative;
    margin: auto;
  }
  
  .projects__boxtall:after {
    content: 'boxshadow';
    background: linear-gradient(77deg, rgba(255,35,0,1) 0%, rgba(40,56,210,1) 54%, rgba(228,229,224,1) 100%);
    position: absolute;
    top: -15px;
    left: -15px;
    z-index: -1;
    filter: blur(40px);
    width: calc(120%);
    height: calc(120%);
    animation: animate 20s linear infinite;
    opacity: 0%;
    transition: opacity .6s ease-out;
  }
  
  .projects__boxtall:hover:after {
    opacity: 1;
  }

/* Lav billedekasse */
  .projects__boxshort {
    width: 350px;
    border-radius: 5px;
    position: relative;
    margin: auto;
  }
  
  .projects__boxshort:after {
    content: 'boxshadow';
    background: linear-gradient(77deg, rgba(255,35,0,1) 0%, rgba(40,56,210,1) 54%, rgba(228,229,224,1) 100%);
    position: absolute;
    top: -15px;
    left: -15px;
    z-index: -1;
    filter: blur(40px);
    width: calc(120%);
    height: calc(120%);
    animation: animate 20s linear infinite;
    opacity: 0%;
    transition: opacity .6s ease-out;
  }
  
  .projects__boxshort:hover:after {
    opacity: 1;
  }

  .projects__cta {
    color: var(--sort);
    text-align: center;
    margin-top: 100px;
  }
  

/* Responsiv - mobil */
  
  @media (max-width: 480px) {

    .projects {
        padding-top: 25%;
    }

    .projects__instagram--animation {
        width: 125px;
        height: 95px;
    }

    .projects__column {
        flex: 100%;
        max-width: 100%;
        padding: 0 15px; 
    }

    .projects__column img {
        width: 100%;
        margin-top: 60px;
        margin-bottom: 60px;
        filter: grayscale(0%);
    }

    .projects__cta {
        font-size: 16px;
        margin-top: 50px;
    }
  }


/* =============== SKILLS PAGE =============== */

.skills__intro--text {
    float: left;
    width: 36%;
    line-height: 1.5;
    color: var(--black);
    padding-right: 7%;
    padding-left: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* Grafik i baggrunden */
.skills__image {
    width: 47%;
    padding-left: 1.5%;
    float: right;
    z-index: -5;
    position: absolute;
}

.skills__image2 {
    width: 47%;
    padding-left: 1.5%;
    float: left;
    z-index: -5;
    left: 0;
    top: 200%;
    transform: rotate(180deg);
    position: absolute;
}

.skills__table {
    width: 90%;
    padding-left: 18%;
    padding-top: 1%;
    padding-bottom: 10%;
}

/* Table med alle ikonerne */
td {
    font-family: "swear-display", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 300%;
    text-align: center; 
    vertical-align: middle;
}

/* Bagsiden af ikonerne */
.competence-card__back {
    position: relative;
    border: 1px solid var(--black);
    width: 220px;
    height: 220px;
    border-radius: 50%;
    box-sizing: border-box; 
    z-index: 1;
    padding: 18%;
    padding-top: 10%;
    text-align: center;
    color: var(--white);
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40%;
    line-height: 1.5; 
    content: '';
    }

.competence-card__back::after {
    content: "boxshadow";
    position: absolute;
    top: -16px;
    left: -16px;
    right: -16px;
    bottom: -16px;
    border-radius: 50%;
    background: linear-gradient(#2838D2, #ff2300);
    filter: blur(25px);
    z-index: -1;
    animation: rotate 3s linear infinite;
}

/* Animation som får gradienten til at bevæge sig*/
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg); 

    }
    100% {
        transform: rotate(360deg);
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

/* Forsiden af ikonerne */
.competence-card__front img {
    width: 220px;
    height: 220px;
    filter: grayscale(100%);
    cursor: pointer;
}

.competence-card__front {
    width: 220px;
    height: 220px;
    position: relative;
    border-radius: 50%;
    transition: transform .2s;
    background: linear-gradient(#2838D2, #ff2300) padding-box, linear-gradient(#ff2300, #2838D2) border-box;
}

.competence-card__front::after {
    content: "";
    position: absolute;
    top: -16px;
    left: -16px;
    right: -16px;
    bottom: -16px;
    border-radius: 50%;
    background: linear-gradient(#2838D2, #ff2300);
    filter: blur(25px);
    z-index: -1;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg); 

    }
    100% {
        transform: rotate(360deg);
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.competence-card__front img:hover {
    transform: scale(1.04);
    filter: grayscale(0%);
  }


/* Selve "flipper" effekten */
.competence-card__flipper {
    perspective: 500px; 
    }

.competence-card__flipper.hover .competence-card__box {
    transform: rotateY(180deg); 
    }
    
.competence-card__box {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 220px;
    height: 220px; 
    }
    
.competence-card__front,
.competence-card__back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0; 
    }
    
.competence-card__front {
    z-index: 2;
    transform: rotateY(0deg); 
    }
    
.competence-card__back {
    transform: rotateY(180deg); 
    }

.skills__click--icon {
        float: left;
        width: 7%;
        z-index: 2;
        padding-top: 72%;
        position: absolute;
    }

.skills__totop-button {
    position: absolute;
    top: 275%;
    left: 50%;
    transform: translateX(-50%);
    margin-right: 10px;     
    text-decoration: none;
    padding: 12px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    font-size: 15px;
    font-family: aileron, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--white);
    background: var(--blue);
    border-radius: 100px;
    white-space: nowrap;
}


/* Responsiv - mobil */

    @media screen and (max-width: 480px) {
        .skills__title {
            padding-top: 20%;
        }

        .skills__intro--text {
            font-size: 110%;
            width: 60%;
            padding-left: 14%;
        }
        
        .skills__image {
            width: 32%;
            padding-top: 55%;
        }

        .skills__image2 {
            width: 32%;
        }

        .skills__table {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            padding-top: 5%;
            padding-bottom: 5%;
        }
    
        .skills__table--cell {
            font-size: 160%; 
            padding: 5%;
        }
    
        .competence-card__back {
            padding: 10%;
            padding-top: 20%;
            font-size: 40%;
        }
    
        .competence-card__front, .competence-card__back {
            width: 120px;
            height: 120px;
        }
    
        .competence-card__front img {
            width: 100%; 
            height: auto;
        }
    
        .competence-card__box {
            width: 120px;
            height: 120px;
        }
    
        .competence-card__front,
        .competence-card__back {
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
        }
    
        .competence-card__front img:hover {
            transform: scale(1.04);
            filter: grayscale(0%);
        }
        
        .skills__click--icon {
            padding-top: 120%;
        }

        .skills__totop-button {
            position: absolute;
            top: 240%;
            width: 20%;
            font-size: 9px;
        }
    }

/* =============== PROJECT SUBPAGES =============== */

.project {
    float: left;
    width: 50%;
}

.project h4,p,.project__button--red {
    margin-left: 8%;
}

.project__description {
    padding-top: 10%;
    padding-bottom: 40%;
}

.project__image {
    float: right;
    padding-right: 5%;
    padding-top: 1%;
    width: 40%;
}

/* Responsiv - mobil */

@media screen and (max-width: 480px) {
    .project__image {
        padding-top: 30%;
    }

    .project h1 {
        padding-top: 30%;
        padding-left: 7%;
    }
}


/* =============== RED BUTTON =============== */

.project__button--red {
    background-color: var(--white);
    color: var(--red);
    border: 2px solid var(--red);
    border-radius: 25px;
    padding: 10px 35px;
    text-align: center;
    font-size: 15px;
    font-family: aileron, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: block;
    transition-duration: 0.4s;
  }
  
  .project__button--red:hover {
    background-color: var(--red);
    border: 2px solid var(--white);
    color: var(--white);
  }

  .button_back {
    background-color: var(--blue);
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 15px;
    padding: 5px 20px;
    text-align: center;
    font-size: 15px;
    font-family: aileron, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: block;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 4%;
  }

  .button_back:hover {
    background-color: var(--blue);
    border: 2px solid var(--white);
    color: var(--white);
  }

/* =============== BLUE BUTTON =============== */

.bluebutton {
    width: 12%;
    background-color: var(--blue);
    color: var(--white);
    border: 2px solid var(--blue);
    border-radius: 25px;
    padding: 10px 35px;
    text-align: center;
    font-size: 15px;
    font-family: aileron, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: block;
    margin: auto;
    margin-bottom: 100px;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.4s;
  }

  .bluebutton a {
    color: var(--white);
    text-decoration: none;
  }
  
  .bluebutton:hover {
    background-color: var(--white);
    border: 2px solid var(--blue);
    color: var(--blue);
  }

  .bluebutton:hover a{
    color: var(--blue);
  }


/* Responsiv - mobil */
@media screen and (max-width: 480px) {
    .bluebutton {
        width: 50%; 
        padding: 8px 20px; 
        font-size: 14px;
    }
}

/* =============== FOOTER =============== */

.footer {
    display: flex;
    flex-direction: column;  
    z-index: 3;
    background-color: var(--black);
    margin-top: auto;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    min-height: 300px;
}

.footer__contact {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0 30px;
}

.footer__title, .footer__menu-item {
    padding: 0;
}

.footer__title, .footer__menu-item {
    display: block;
    text-align: left;
}

.footer__contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer__banner {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    color: var(--white);
    font-size: 100px;
    font-family: "swear-display", serif;
    font-weight: 500;
    font-style: normal;
}

.footer__banner span {
    display: inline-block;
    animation: footer__banner 50s linear infinite;
}

@keyframes footer__banner {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
}


/* =============== FOOTER LINK DECORATION =============== */

.footer__social a {
    color: var(--white);
    text-decoration: none; 
}

.footer__social a:hover {
    color: var(--red);
    text-decoration: underline;
    font-weight: 500;
}


.footer__social a:active {
    color: var(--blue);
  }


.footer__menu a {
    color: var(--white);
    text-decoration: none; 
}

.footer__menu a:hover {
    color: var(--red);
    text-decoration: underline;
    font-weight: 500;
}


.footer__menu a:active {
    color: var(--blue);
  }

.footer__location a {
    color: var(--white);
    text-decoration: none;
}

.footer__location a:hover {
    color: var(--red);
    text-decoration: underline;
    font-weight: 500;
}

.footer__location:active {
    color: var(--blue);
}

.footer li {
    font-family: source-sans-pro, sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 29px;
    font-size: 110%;
}

/* Responsiv - mobil */

@media screen and (max-width: 480px) {
    .footer__banner {
        font-size: 50px;
    }

    .footer__contact {
        font-size: 80%;
    }

    .footer {
        min-height: 200px;
    }
}